.about {
    transform: translateX(-5%);
    min-height: 120vh;
}

.about__headerWrapper {
    text-align: left;
    padding-top: 15%;
}

.about__name {
    font-size: 24px;
}

.about__content {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 5%;
}

.about__content > div > div > img {
    max-width: 100%;
}

.about__content > div > p {
    font-size: 18px;
    padding-bottom: 15px;
}


.gallery__dropdown {
    text-align: left;
    padding-left: 10%;
    font-weight: 500;
}

.artwork__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120px;
    background-color: hsl(0, 0%, 78%, 50%);
    border-radius: 5;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.about__linksWrapper {

    padding-top: 30px;
}

.icon__container > ul {
    background-color: hsl(0, 0%, 91%);
    max-width: 100%;
    text-align: center;
    }

.icon__container > ul > li {
display: inline-block;
padding: 10px 25px 5px 10px
}

.about__linksWrapper > div > h3 {
    text-align: center;
    padding-top: 12px;
    font-size: 22px;
    font-weight: 600;
}

.interests {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: hsl(0, 0%, 91%);
}

.interests > ul {
    list-style-type: none;
    padding-left: 20%;
    text-align: left;
}

.interests > ul > li{
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;

}

.skills__interests {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 5%;
    padding-bottom: 75px;
    padding-top: 55px;
    font-weight: 500;
}

.other__work > div > h3 {
    color: #9B9B9B;
}

.skills__container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: hsl(0, 0%, 91%);
}

.skills__container > ul {
    list-style: none;
    text-align: left;
    padding-left: 20%;
}

.skills__container > ul > li{
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
}

.skills__wrapper > div > h3 {
    text-align: left;
    padding-bottom: 15px;
}

.interests__title {
    padding-bottom: 15px;
}

.resume__buttonContainer > div > a > img {
 max-width: 22%;
 padding-top: 15px;
}

@media only screen and (max-width: 1500px) {
    .about__content > div > p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1250px) {

    .about__content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .about__content > div > p {
        padding-top: 25px;
    }


    .about__content2 {
        text-align: center;
    }

    .other__interests {
        max-width: 100%;
    }
}


@media only screen and (max-width: 785px) {

   .about__name {
       font-size: 20px;
   }

   .icon__container > ul > li {
    padding: 10px 5px 5px 5px;
    }

}

@media only screen and (max-width: 530px) {

    .about__name {
        font-size: 20px;
    }

     .icon__container > ul > li {
        padding: 10px 20px 5px 10px;
    }
 
 }

 @media only screen and (max-width: 700px) {

    .about {
        margin: 0 10% 10% 14%;
    }

    .about__linksWrapper {
        display: flex;
        flex-direction: column;
    }

    .icon__container > ul {
        max-width: 100%;
    }

    .about__linksWrapper > div > h3 {
        display: none;
    }
 
 }