.title__wrapper {
    width: 100%;
}

.title {
    padding:  8% 0 8% 0;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.header {
font-size: 36px;
font-weight: 600 !important;
}

.subText {
    font-size: 26px;
}

#product {
    color: #c038cb;
}

#slash {
    color: #447ace;
}

#ux {
    color: #3bc29b;
}

#end {
    color: #447ace;
}

#phx {
    color: #fc7575;
}