.summary__header {
    padding-top: 90px;
    text-align: left;
}

.summary__header > h1 {
    font-size: 38px;
}

.adc {
    font-size: 20px;
}

.summary {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 10px;
}

.summary__left {
    text-align: left;
    max-width: 90%;
}

.summary__left > p {
    font-size: 18px;
}

.summary h1 > span {
    font-style: italic;
}

.summary__right {
    text-align: left;
    padding-left: 50px;
}

.summary__right > h3 {
    font-size: 22px;
}

.summary__right > p {
    font-size: 18px;
}

.problem {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: left;
    padding-top: 150px;
    height: 175px;
    position: relative;
}

.problem > h3 {
    font-size: 22px;
}

.problem > p1 {
    margin-bottom: 30px;
}

.problem > p1, .problem >  p2 {
    font-size: 18px;
    max-width: 90%;
}


.research {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: left;
    padding-top: 5%;
}

.research > h3 {
    font-size: 22px;
}

.research > p1 {
    margin-bottom: 30px;
}
.research > p2 {
    margin-bottom: 30px;
}

p3 > span {
    font-style: italic;
}

p3 > a{
    color: #437ACE;
}

.research > p1, .research > p2, .research > p3 {
    font-size: 18px;
    max-width: 90%;
}

.moodBoard__title {
    padding: 12% 0 50px 0;
    font-size: 25px;
}

.moodBoard__wrapper {
padding-bottom: 100px;
/* padding-left: ; */
}

.moodBoard__wrapper > div > img{
    max-width: 100%;
}

.design__wrapperHeader {
    display: grid;
    grid-template-columns: 30% 70%;
}

.designTitle {
    font-weight: bold;
    text-align: left;
    font-size: 30px;
}

.designSubTitle {
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    color: rgb(168, 168, 168)
}

.design__wrapperHeader > div > p {
    text-align: left;
    font-size: 18px;
    width: 100%;
    padding-left: 10px;
}

.design__challenges {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 150px;
}

.design__challenges > div > h1 {
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    color: rgb(168, 168, 168)
}


.design__challenges > div > p {
    text-align: left;
    font-size: 18px;
    width: 90%;
    padding-left: 10px;
}

.design__images {
    padding-top: 85px;
}

.design__imagesr1 {
    display: grid;
    grid-template-columns: 20% 40% 40%;
}

.design__imagesr1 > div > img{
    max-width: 95%;
}

.design__imagesr2 {
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: left;
    padding-left: 10px;
}

.design__imagesr2 > div > img {
    max-width: 99%;
}

.pocketDump {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 5px;
}

.pocketDump > div > div > img {
    max-width: 93%;
    margin-bottom: 16px;
}



.design__iterations {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 50px;
    padding-bottom: 35px;
}

.design__iterations > div > h1 {
    font-weight: bold;
    text-align: left;
    font-size: 30px;
}

.design__iterations > div > p {
    text-align: left;
    font-size: 18px;
    width: 90%;
    padding-left: 10px;
}

.version {
    display: grid;
    grid-template-columns: 10% 50% 40%;
    padding-top: 50px;
}

.version__list > ul  {
  padding-left: 50px;
}

.version__list > ul > li {
    text-align: left;
    padding: 5px 0px 50px 0px;
    font-size: 18px;
    max-width: 75%;
}

.deliverables__titleArea {
display: grid;
grid-template-columns: 30% 70%;
max-width: 100%;
padding-top: 150px;
}

.deliverables__title {
    text-align: left;
}
.deliverables__titleText {
    text-align: left;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
}

.covers__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-top: 50px;
}

.covers__wrapper > div {
    text-align: left;
    max-width: 40%;
    padding: 0 20px 0 0;
}

.covers__wrapper > div > img{
    max-width: 95%;
    text-align: left;
}

.deliverables__content {
    font-size: 18px;
    text-align: left;
    padding-right: 100px;
    padding-left: 1px;
    padding-top: 35px;
    max-width: 80%;
}

.deliverables__titleArea {
    padding-left: 25px;
}

.deliverables__finalImage {
    text-align: left;
    padding-top: 35px;
}

.deliverables__finalImage > img {
    max-width: 78%;
}

.takeaways {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 50px;
    padding-bottom: 200px;
}

.takeaways__title > h1 { 
    text-align: left;
}

.takeaways__content {
    text-align: left;
    font-size: 18px;
    padding-right: 125px;
    max-width: 70%;
}

.takeaways__content > p {
    padding-bottom: 50px;
}

.final__wrapper {
    padding-left: 120px;
}


@media only screen and (max-width: 1260px) {
.moodBoard__wrapper {
    display: flex
}

.moodBoard__wrapper > div {
    width: 486px;
    max-width: 486px;
}
}

@media only screen and (max-width: 1300px) {

    .covers__wrapper {
        display: block;
        justify-content: center;
    }
    .covers__wrapper > div {
        max-width: 100%;
        padding: 60px
    }
    }