.summary__header {
    padding-top: 90px;
    text-align: left;
}

.summary__header > h1 {
    font-size: 38px;
}

.adc {
    font-size: 20px;
}

.summary {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 10px;
}

.summary__left {
    text-align: left;
    max-width: 90%;
}

.summary__left > p {
    font-size: 18px;
}

.summary h1 > span {
    font-style: italic;
}

.summary__right {
    text-align: left;
    padding-left: 50px;
}

.summary__right > div > div > h3 {
    font-size: 22px;
}

.summary__right > div > div > p {
    font-size: 18px;
    color: #757575;
}

.problem {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: left;
    padding-top: 100px;
    position: relative;
}

.problem > h3 {
    font-size: 22px;
}

.problem > div > p {
    margin-bottom: 30px;
    font-size: 18px;
    max-width: 90%;
}



.research {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: left;
    padding-top: 25px;
}

.research > div > h3 {
    font-size: 22px;
}

.research > div > p {
    margin-bottom: 30px;
    font-size: 18px;
}

p > span {
    font-style: italic;
}

p > a{
    color: #437ACE;
}

.research > p {
    font-size: 18px;
    max-width: 90%;
}

.moodBoard__title {
    padding: 50px 0 50px 0;
    font-size: 25px;
}

.moodBoard__wrapper {
padding-bottom: 110px;
/* padding-left: ; */
}

.moodBoard__wrapper > div > img{
    max-width: 76%;
}

.design__wrapperHeader {
    display: grid;
    grid-template-columns: 30% 70%;
}

.designTitle {
    font-weight: bold;
    text-align: left;
    font-size: 30px;
}

.designSubTitle {
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    color: rgb(168, 168, 168)
}

.design__wrapperHeader > div > p {
    text-align: left;
    font-size: 18px;
    width: 84%;
    padding-left: 10px;
}

.design__challenges {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 50px;
}

.design__challenges > div > h1 {
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    color: rgb(168, 168, 168)
}


.design__challenges > div > p {
    text-align: left;
    font-size: 18px;
    width: 84%;
    padding-left: 10px;
}

.design__images {
    padding-top: 85px;
    max-width: 76%;
    padding-left: 150px;
}

.design__imagesr1 {
    display: grid;
    grid-template-columns: 20% 40% 40%;
}

.design__imagesr1 > div > img{
    max-width: 95%;
}

.design__imagesr2 {
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: left;
    padding-left: 10px;
}

.design__imagesr2 > div > img {
    max-width: 99%;
}

.pocketDump {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 5px;
}

.pocketDump > div > div > img {
    max-width: 93%;
    margin-bottom: 16px;
}



.design__iterations {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 50px;
    padding-bottom: 35px;
}

.design__iterations > div > h1 {
    font-weight: bold;
    text-align: left;
    font-size: 30px;
}

.design__iterations > div > p {
    text-align: left;
    font-size: 18px;
    width: 84%;
    padding-left: 10px;
}

.version {
    display: grid;
    grid-template-columns: 10% 90%;
    padding-top: 50px;
}

.version__columnR {
    display: grid;
    grid-template-columns: 50% 50%;
}

.version__image > img {
    max-width: 85%;
}

.version__list > ul  {
  padding-left: 50px;
}

.version__list > ul > li {
    text-align: left;
    padding: 5px 0px 50px 0px;
    font-size: 18px;
    max-width: 95%;
    line-height: 2;
}

.deliverables__titleArea {
max-width: 100%;
padding-top: 100px;
}

.deliverables__title {
    text-align: left;
}
.deliverables__titleText {
    text-align: left;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
}

.covers__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-top: 50px;
}

.covers__wrapper > div {
    text-align: left;
    max-width: 45%;
    padding: 0 20px 0 0;
}

.covers__wrapper > div > img{
    max-width: 95%;
    text-align: left;
}

.deliverables__content {
    font-size: 18px;
    text-align: left;
    padding-right: 100px;
    padding-left: 1px;
    padding-top: 35px;
    max-width: 89%;
}

.deliverables__titleArea {
    padding-left: 25px;
}

.deliverables__finalImage {
    text-align: left;
    padding-top: 35px;
}

.deliverables__finalImage > img {
    max-width: 89%;
}

.takeaways {
    padding-top: 50px;
    padding-bottom: 200px;
}

.takeaways__title > h1 { 
    text-align: left;
    padding-left: 20px;
}

.takeaways__content {
    text-align: center;
    font-size: 18px;
    padding-left: 120px;
    max-width: 80%;
}

.takeaways__content > p {
    padding-bottom: 20px;
    text-align: left;
}

.takeaways__content > h3 {
    padding-top: 30px;
    font-weight: 500;
    text-align: left;
}

.final__wrapper {
    padding-left: 120px;
}


@media only screen and (max-width: 1260px) {
.moodBoard__wrapper {
    display: flex
}

.moodBoard__wrapper > div {
    width: 486px;
    max-width: 486px;
}
}

@media only screen and (max-width: 1300px) {

    .covers__wrapper {
        display: block;
        justify-content: center;
    }
    .covers__wrapper > div {
        max-width: 100%;
        padding: 60px
    }
    }

    @media only screen and (max-width: 1310px) {
      .summary__header {
          text-align: center;

      }

      .summary {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 9%;
      }

      .summary__right {
          padding-left: 0;
      }

      .summary__right > div {
        text-align: center;
        max-width: 90%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

      .summary__right > div > div {
        background-color: #F2F2F2;
        border-radius: 5px;
        margin-bottom: 20px
    }

    .problem__wrapper {
        padding-left: 9%;
    }

    .problem {
        display: flex;
        flex-direction: column;
    }

    .problem > h3 {
        text-align: center;
        padding-right: 10%;
        font-size: 30px;

    }

    .problem > div > p {
        margin: 19px 0;
    }

    .research {
        display: flex;
        flex-direction: column;
    }

    .research > div > h3{
        text-align: center;
        padding-right: 10%;
        font-size: 30px;
    }

    .design__wrapper {
        padding-left: 9%;
    }

    .design__wrapperHeader {
        display: flex;
        flex-direction: column;
    }

    .design__wrapperHeader > div > div {
        text-align: center;
        padding-right: 13%;
        font-size: 30px;
    }

    .design__text {
        padding-top: 20px;
    }

    .design__images {
        padding: 0;
        margin:0;
    }
    
    /* .design__imagesr1 {
        display: flex;
        flex-direction: column;
    } */

    /* .design__imagesr2 {
        display: flex;
        flex-direction: column;
    } */

    /* .pocketDump {
        display: flex;
        flex-direction: column;
    } */

    .design__challenges {
        display: flex;
        flex-direction: column;
    }

    .design__challenges > div > h1{
        text-align: center;
        padding-right: 13%;
    }

    .design__iterations {
        display: flex;
        flex-direction: column;
    }

    .design__iterations > div > h1{
        text-align: center;
        padding-right: 13%;
    }

    .version {
        display: flex;
        flex-direction:column;
    }

    .version__columnR {
        display: flex;
        flex-direction: column-reverse;
    }

    .version__image > img {
        max-width: 100%;
    }

    .version__list {
        padding-top: 15px;
    }

    .deliverables__title > h1 {
        text-align: center;
        padding-right: 10%;
     }

     .final__wrapper {
         padding-left: 0;
     }

     .covers__wrapper > div{
        padding: 0;
     }

     .deliverables__content {
         padding: 0;
         padding-top: 15px;
         max-width: 100%;
     }

     .takeaways__title > h1 {
         text-align: center;
         padding-right: 10%;
     }

     .takeaways__content {
         padding: 0;
         margin: 0;
         max-width: 100%;
     }

     .deliverables__finalImage > img {
        max-width: 100%;
    }
    }


    @media screen and (max-width: 700px) {
        .moodBoard__wrapper > div {
            text-align: center;
            max-width: 100%;
            margin-left: 12%;
        }

        .moodBoard__wrapper > div > img {
            text-align: center;
            max-width: 100%;
            
        }

        

      }

      @media screen and (max-width: 500px) {
        .design__images {
            max-width: 95%;
        }

        .problem {
            padding-top: 30px;
        }

        .moodBoard__title {
            padding: 30px 0 25px 0;
        }

        .research > div > p {
            margin: 3%;
            padding-right: 2%;
        }

        .moodBoard__wrapper > div {
            margin: 0 10%;
        }

        .design__wrapper {
            padding-left: 3%;
        }

        .design__wrapperHeader > div > p {
            text-align: left;
            font-size: 18px;
            width: 100%;
            padding-left: 10px;
        }

        .design__challenges > div > p {
            text-align: left;
            font-size: 18px;
            width: 100%;
            padding-left: 10px;
        }

        .design__iterations > div > p {
            text-align: left;
            font-size: 18px;
            width: 100%;
            padding-left: 10px;
        }

        .caseStudyHeader__wrapper {
            display: grid;
            grid-template-columns: 50% 50%;
            padding: 5% 5% 5% 5%;
        }

        .caseStudy__titleImg > img {
            max-width: 90%;
            padding: 17% 10% 10% 0%;
      }

      .caseStudy__heroImg > img {
        max-width: 100%;
        padding: 5% 0;

      }

      .design__iterations > div > p {
        padding-top: 15px;
    }
    }
