.summary__header {
    padding-top: 90px;
    text-align: left;
}

.summary {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 10px;
}

.summary__left {
    text-align: left;
    max-width: 90%;
}

.summary h1 > span {
    font-style: italic;
}

.summary__right {
    text-align: left;
    padding-left: 50px;
}

.problem {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: left;
    padding-top: 5%;
    height: 175px;
    position: relative;
}

.problem > p1 {
    margin-bottom: 30px;
}


.research {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: left;
    padding-top: 5%;
}

.research > p1 {
    margin-bottom: 30px;
}
.research > p2 {
    margin-bottom: 30px;
}

p3 > span {
    font-style: italic;
}

p3 > a{
    color: #437ACE;
}

.moodBoard__title {
    padding: 12% 0;
    font-size: 25px;
}

.grid1 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.col1g1 > div > img {
    max-width: 95%;
}

.col2g1 > div > img {
    max-width: 95%;
}

.col3g1 > div > img {
    max-width: 95%;
}

.grid2 {
    display: grid;
    grid-template-columns: 65% 45%;
}

.grid2R > div > img {
    max-width: 95%;
}

.grid2 {
    max-width: 91%;
}

.grid2__row1 {
    display: grid;
    grid-template-columns: 65% 45%;
    max-width: 90%;
}

.grid2__row1 > div > img {
    max-width: 95%;
}

.grid2L {
    max-width: 100%;
}

.grid2__row2 {
    display: grid;
    grid-template-columns: 40% 60%;
}

.grid2__row2 > div > img {
    max-width: 95%;
}

.grid3 {
    display: grid;
    grid-template-columns: 25% 75%;
}

.grid3L > div > img {
    max-width: 95%;
}

.grid3__row1 {
    display: grid;
    grid-template-columns: 28% 72%;
}

.grid3__row1 > div > img {
    max-width: 95%;
}

.grid3__row2 {
    display: grid;
    grid-template-columns: 36% 64%;
}

.grid3__row2 > div > img {
    max-width: 95%;
}