.footer__wrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    width: 100%;
    height: 70px;
}

.footer__icons {
    color: #616161;
    margin: 0 160px 0 140px;
}