.caseStudyHeader__wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 22% 0% 22%;
}

.soul__background {
    background-color: #3384fd;
}

.caseStudy__titleImg {
    text-align: left;
}

.caseStudy__titleImg > img {
    max-width: 65%;
    padding: 17% 10% 10% 0%;
}

.caseStudy__heroImg {
    text-align: right;
}

.caseStudy__heroImg > img{
    max-width: 95%;
    padding: 5% 0;
}